{% extends 'mailing/base.html' %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Клиенты</h1>
                <p class="lead text-body-secondary">Здесь вы можете добавлять клиентов, которые будут получать рассылку.</p>
                <a href="{% url 'mailing:client_create' %}" class="btn bg-black-subtle">Добавить клиента</a>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for client in object_list %}
                    {% if perms.mailing.view_clientservice or client.user == request.user %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">

                                <p class="card-text">{{ client.email }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <ul class="list-unstyled">
                                            <li><p class="text-black">{{ client.name|slice:100 }}</p></li>
                                            <li><a href="{% url 'mailing:client_detail' client.pk %}" class="btn btn-primary">Посмотреть</a>

                                                <a href="{% url 'mailing:client_update' client.pk %}" class="btn btn-primary">Изменить</a>
                                                <a href="{% url 'mailing:client_delete' client.pk %}" class="btn btn-primary">Удалить</a>
                                            </li>



                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}