{% extends 'mailing/base.html' %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Сообщение для рассылок</h1>
                <p class="lead text-body-secondary">Здесь вы можете создать сообщение, чтобы использовать его для
                    рассылки.</p>
                <a href="{% url 'mailing:mailing_message_create' %}" class="btn bg-black-subtle">Создать сообщение</a>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for message in object_list %}
                    {% if perms.mailing.change_messagemailing or message.user == request.user %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p class="card-text">{{ message }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <ul class="list-unstyled">
                                                <li><p class="card-footer-text">{{ message.body|slice:25 }}</p></li>
                                                <li><a href="{% url 'mailing:mailing_message_detail' message.pk %}"
                                                       class="btn btn-primary">Посмотреть</a>
                                                    {% if message.user == request.user %}
                                                        <a href="{% url 'mailing:mailing_message_update' message.pk %}"
                                                           class="btn btn-primary">Изменить</a>
                                                        <a href="{% url 'mailing:mailing_message_delete' message.pk %}"
                                                           class="btn btn-primary">Удалить</a>
                                                    {% endif %}
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}