{% extends 'mailing/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header text-center" >
                        Блокировка пользователя
                    </div>
                    <div class="card-body">
                        <p class="text-danger h5 ">Сняв галочку с поля активность, вы заблокируете пользователя на платформе</p>
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">
                           Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}